<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS Practice </title>
    <link rel="stylesheet" href="styles.css">
    <!-- include angular js cdn link -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- link to external js file -->
    <!-- link to angular-translate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.19.0/angular-translate.min.js" integrity="sha512-a/Saqh9wa0rRm8gEgTqGYgoIh1Jki7htgcbLo6R9R990l8TqdIrpx9yWuTLJ+lMsWpQeLbrkbKvkTizrOuCI9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-url/2.19.0/angular-translate-loader-url.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>    
    <script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="translateController">
        <div style="text-align: center; font-size: 20px;">angular-translate app demo</div>
        <hr> 
        <button ng-click="changeLanguage('es')">Spanish</button>
        <button ng-click="changeLanguage('en')">English</button>

        <h2>{{'HEADLINE' | translate}}</h2>        
        <p>{{'INTRO_TEXT' | translate}}</p>
        <p>{{'INTRO_TEXT' | translate:'es'}}</p> 
        <p translate="INTRO_TEXT"></p>
</body>
</html>